@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Martel+Sans|Montserrat&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Martel Sans', sans-serif;
	font-size: 18px;
}

h1, h3 {
       font-family: 'Libre Baskerville', serif;
       font-weight: bold;
}

h2 {
 font-family: 'Montserrat', sans-serif;
 font-weight: bold; 
  }

 a {
 	text-decoration: none;
 }




